section.about-section
  .wrapper
    .about-section__container
      img.about-section__img-nut(src="images/about-section-nut.png" loading="lazy" width="409" height="350" alt="nut")
      .about-section__top
        img.about-section__img(src="images/about-section-img.png" loading="lazy" width="318" height="265" alt="image")
        h2.about-section__title.font-w-cunia.font-s-45.text-up
          | За 
          span.mark-bg2 11 лет
          |  работы <br> открыли 
          span.mark-bg2 107
          |  прибыльных <br> магазинов
      .about-section__inner
        .font-w-bold.font-s-20.about-section__inner-item Наша история началась в 2010 году, когда мы привезли в Республику <br> Татарстан новую марку пива «Макарий». Поскольку крупные сети <br> не спешили добавлять в свой ассортимент новый бренд, мы приняли <br> решение запустить собственные торговые точки.
        .font-s-20.about-section__inner-item Уже в 2013 году мы открыли 4 пивных магазина «Воблаbeer» в Казани. <br> Благодаря высокому спросу на вкусное и свежее пиво, к 2016 году нами было <br> запущено уже 30 точек. А на сегодняшний день «Воблаbeer» — крупнейшая <br> сеть фирменных магазинов разливных напитков в Республике Татарстан.
        .font-s-20.about-section__inner-item Партнерство с нашей компанией — эффективный способ зайти на этот уже <br> сформированный и высококонкурентный рынок. Для новых франчайзи мы подготовили <br> пошаговую инструкцию, которая позволит быстро открыть свою первую точку по продаже <br> разливного пива, а в дальнейшем вырасти до собственной крупной сети.
        img.about-section__img-plant(src="images/about-section__img-plant.png" loading="lazy" width="485" height="345" alt="plant")
      img.about-section__img-arrows(src="images/about-section-arrows.svg" loading="lazy" width="36" height="29" alt="arrows")
      .about-section__bottom
        .about-section__beer
          img.about-section__img-vobla(src="images/about-section-vobla.png" loading="lazy" width="230" height="42" alt="voblabeer")
          .about-section__text.font-w-cunia.font-s-28.text-up
            | С удовольствием
            .mark3 ответим на ваши 
            span.mark3 вопросы 
            | по франшизе!
        form.about-section__form(data-feedback-form)
          textarea.about-section__textarea(name="answer" placeholder="Ваш вопрос")
          input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.btn--brown(type="submit") задать вопрос основателям


