.agree
  label.agree__container
    input(type="checkbox" name="agree" class="agree__input")
    span.agree__icon
    span.font-s-14-b.agree__text
      | Я принимаю условия 
      a(href="#" data-remodal-target="privacy").agree__privacy Политики конфиденциальности
