section.city-section
  .wrapper
    .city-section__container
      .city-section__title
        .font-w-cunia.font-s-55.text-up
          | Откройте <br>
          mark.mark4 собственную сеть <br>
          | пивных магазинов
      .city-section__text.font-w-cunia.font-s-35 С франшизой
        img.city-section__icon(src="images/city-section-icon.svg" loading="lazy" width="140" height="124" alt="icon")
      .city-section__items
            .main-section__item-info
              img.main-section__info-img(src="images/main-section-info-img.png" loading="lazy" width="79" height="79" alt="img")
              .mark.font-w-bold.font-s-22 Проверьте,
              .main-section__item-text.font-s-16
                | свободен ли ваш город <br>
                | для работы по нашей <br>
                | франшизе
              img.main-section__arrow-img(src="images/main-section-arrow.svg" loading="lazy" width="119" height="20px" alt="arrow")
            form.main-section__item-form(data-feedback-form)
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") проверить город
      //- .city-section__blocks
      //-   .city-section__block-left
      //-     img(src="images/main-section-blue-pluses.svg" loading="lazy" width="132" height="34" alt="pluses")
      //-     h2.city-section__title.font-s-42.font-w-regular
      //-       .font-s-48 ЗАПУСТИТЕ <br>
      //-       | ПРИБЫЛЬНЫЙ БИЗНЕС <br> ПО ФРАНШИЗЕ
      //-       mark.mark-bg «Parfe»
      //-     .city-section__text.font-s-26 Проверьте, свободен ли ваш <br> город для работы
      //-     form.city-section__form(data-feedback-form)
      //-       input.input.input--mini(type="text" name="city" autocomplete="off" placeholder="Город")
      //-       input.input.input--mini(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      //-       input.input.input--mini(type="email" name="email" autocomplete="off" placeholder="e-mail")
      //-       button.btn.btn--small(type="submit") Проверить город
      //-     .start-section__privacy
      //-       |Я принимаю условия 
      //-       a(href="#" data-remodal-target="privacy").agree-link Политики конфиденциальности
      //-   .city-section__block-right
      //-     .city-section__block-right-logo
      //-       img(src="images/logo.svg" loading="lazy" width="127" height="59" alt="logo")
      //-     img.city-section__block-right-image(src="images/city-section-image.jpeg" loading="lazy" width="452" height="402" alt="image")
      //-     .city-section__block-right-pluses
      //-       img(src="images/main-section-brown-pluses.svg" loading="lazy" width="132" height="34" alt="pluses")