section.city-section
  .wrapper
    .city-section__container
      .city-section__title
        .font-w-cunia.font-s-55.text-up
          | Откройте <br>
          mark.mark4 собственную сеть <br>
          | пивных магазинов
      .city-section__text.font-w-cunia.font-s-35 С франшизой
        img.city-section__icon(src="images/city-section-icon.svg" loading="lazy" width="140" height="124" alt="icon")
      .city-section__items
            .main-section__item-info
              img.main-section__info-img(src="images/main-section-info-img.png" loading="lazy" width="79" height="79" alt="img")
              .mark.font-w-bold.font-s-22 Проверьте,
              .main-section__item-text.font-s-16
                | свободен ли ваш город <br>
                | для работы по нашей <br>
                | франшизе
              img.main-section__arrow-img(src="images/main-section-arrow.svg" loading="lazy" width="119" height="20px" alt="arrow")
            form.main-section__item-form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
              button.btn(type="submit") проверить город
              include ../components/agree.pug
