section.finances-section
  .wrapper
    .finances-section__container
      .finances-section__block
        .finances-section__block-left
          img.finances-section__img(src="images/finance-section-market.png" loading="lazy" width="1053" height="927" alt="market")
        .finances-section__block-right
          .finances-section__block-right-inner
            img.finances-section__icon(src="images/finance-section-icon.svg" loading="lazy" width="144" height="144" alt="icon")
            h2.finances-section__title.font-s-45.font-w-cunia
              mark.mark привлекательность <br>
              | франшизы в цифрах
          .finances-section__block-right-items
            .finances-section__keys.font-w-bold Ключевые показатели работы одного магазина
            .swiper-small
              .finances-section__cards.swiper-wrapper
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys1.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 1,5 месяца
                    .font-s-16 понадобится <br> на запуск
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys2.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 1 080 000 руб
                    .font-s-16 размер <br> ежемесячной выручки
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys3.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 115 000 РУб
                    .font-s-16 размер <br> ежемесячной прибыли
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys4.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 50%
                    .font-s-16 средний <br> размер наценки
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys5.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 2 300 000 РУБ
                    .font-s-16 минимальный <br> размер инвестиций
                .finances-section__card.swiper-slide
                  img.finances-section__card-icon(src="images/finance-section-icon-keys6.svg" loading="lazy" width="45" height="45" alt="icon")
                  .finances-section__card-text
                    .font-s-26.font-w-cunia 10,4%
                    .font-s-16 рентабельность <br> по чистой прибыли
              .small-pagination.swiper-progress-small


