footer.footer
  .wrapper
    .footer__container.font-w-inter-regular
      .footer__block-inner
        img.footer__logo(src="images/logo.svg" loading="lazy" width="130" height="51" alt="logo")
        .footer__text.font-s-16
          .mark6.font-w-bold ВоблаBeer
          .font-s-14 Франшиза сети <br> пивных магазинов
      .header__connection
        button.header__call.btn.btn--number-call(data-remodal-target="modal-form-call-me") Заказать звонок
