header.header
  .header__container
    .header__title
      .font-s-16.font-w-bold.color-yellow ВоблаBeer
      .font-s-14 Франшиза сети <br> пивных магазинов
    .header__logo
      include ../components/logo.pug
    .header__connection
      button.header__call.btn.btn--number-call(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__title-mobile.font-s-14-a Франшиза сети пивных магазинов
