.header-thanks
  .wrapper
    header.header
    .header__inner
      .header__left
        .header__logo
          include ../components/logo.pug
        .header__title.font-s-16 Франшиза кондитерской <br> студии & кофейни
      .header-thanks__right
        .header-thanks__connection
          include ../components/phone-number.pug
    .header__line