header.header
  .header__container
    .header__title
      .font-s-16.font-w-bold.color-yellow ВоблаBeer
      .font-s-14 Франшиза сети <br> пивных магазинов
    .header__logo
      include ../components/logo.pug
    .header__connection
      a.header__call.btn.btn--number-call(href="tel:+79999999999") +7 999 999 99 99
