section.invest-section
  .wrapper
    .invest-section__container
      .invest-section__inner
        h2.invest-section__title.font-w-cunia.font-s-45.text-up
          span.mark Рассчитайте точную сумму <br>
          | инвестиций для вашего города
        img.invest-section__icon(src="images/invest-section-icon.svg" loading="lazy" width="144" height="144" alt="icon")
      .invest-section__block
        .invest-section__top.text-center
          .font-w-bold.font-s-22 Выберите размер вашего города,
          .font-s-22 чтобы скачать детальную информацию и расчеты
        img.invest-section__arrow(src="images/invest-section-arrow.svg" loading="lazy" width="25" height="22" alt="arrow")
        .swiper-large
          .invest-section__cards.swiper-wrapper
            .invest-section__card.swiper-slide
              .invest-section__img
                .font-w-cunia.font-s-32.mark5 до 500 000
                | жителей
              .invest-section__form-block
                .font-s-14.text-center Скачайте подробное описание <br> формата и финансовую модель
                form.invest-section__form(data-feedback-form)
                  input.input.input--bg-brown(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
                  input.input.input--bg-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
                  button.btn.btn--text-brown(type="submit") ПОЛУЧИТЬ МОДЕЛЬ
            .invest-section__card.swiper-slide
              .invest-section__img.invest-section__img--img-bg2
                .font-w-cunia.font-s-32.mark5 до 1 000 000
                | жителей
              .invest-section__form-block
                .font-s-14.text-center Скачайте подробное описание <br> формата и финансовую модель
                form.invest-section__form(data-feedback-form)
                  input.input.input--bg-brown(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
                  input.input.input--bg-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
                  button.btn.btn--text-brown(type="submit") ПОЛУЧИТЬ МОДЕЛЬ
            .invest-section__card.swiper-slide
              .invest-section__img.invest-section__img--img-bg3
                .font-w-cunia.font-s-32.mark5 от 1 000 000
                | жителей
              .invest-section__form-block
                .font-s-14.text-center Скачайте подробное описание <br> формата и финансовую модель
                form.invest-section__form(data-feedback-form)
                  input.input.input--bg-brown(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
                  input.input.input--bg-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
                  button.btn.btn--text-brown(type="submit") ПОЛУЧИТЬ МОДЕЛЬ
          .large-pagination.swiper-progress-large


