section.presentation-section
  .wrapper-presentation
    .presentation-section__container
      h2.presentation-section__title.font-w-cunia.font-s-45.text-up
        span.mark-linear Так выглядят
        | уже работающие <br> магазины «Воблаbeer»
      .presentation-section__content
        .presentation-section__inner.swiper-medium
          .presentation-section__cards.swiper-wrapper
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image1.jpg" loading="lazy" width="380" height="300" alt="image1")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image2.jpg" loading="lazy" width="380" height="300" alt="image2")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image3.jpg" loading="lazy" width="380" height="300" alt="image3")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image4.jpg" loading="lazy" width="380" height="300" alt="image4")
            .presentation-section__card.invisible.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image5.jpg" loading="lazy" width="380" height="300" alt="image5")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image6.jpg" loading="lazy" width="380" height="300" alt="image6")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image7.jpg" loading="lazy" width="380" height="300" alt="image7")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image8.jpg" loading="lazy" width="380" height="300" alt="image8")
            .presentation-section__card.swiper-slide
              img.presentation-section__card-img(src="images/presentation-section-image9.jpg" loading="lazy" width="380" height="300" alt="image9")
          .medium-pagination.swiper-progress-medium
  .wrapper
    .presentation-section__bottom
      img.presentation-section__prizm(src="images/presentation-section-prizm.svg" loading="lazy" width="338" height="308" alt="prizma")
      img.presentation-section__blanks(src="images/presentation-section-blanks.png" loading="lazy" width="393" height="324" alt="blanks")
      .presentation-section__info
        .presentation-section__desc Хотите получить детальные цифры <br> для вашего города и под ваш бюджет?
        .presentation-section__bottom-title.font-w-cunia.font-s-28.text-up
          | Скачайте 
          span.mark4 финансовую <br> модель франшизы <br>
          | «Воблаbeer»
      .presentation-section__form
        .font-w-bold.text-center Скачайте модель
        form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          .presentation-section__input
            input.input.input--bg-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.btn(type="submit") скачать
          .presentation-section__agree-wrapper
            include ../components/agree.pug
    .presentation-section__padding

