section.start-section
  .wrapper
    .start-section__container
      .start-section__title.font-w-cunia.font-s-45.text-up
        mark.mark-linear Подробнее
        | о схеме <br> работы с франчайзи
      .start-section__arrow-padding
        img.start-section__arrow(src="images/start-section-arrow.svg" loading="lazy" width="36" height="29" alt="arrow")
      .swiper-medium
        .start-section__cards.swiper-wrapper
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 1
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Заключение <br> договора франшизы
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 2
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Поиск помещения
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 3
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Заключение договора <br> аренды
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 4
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Ремонт и оформление <br> помещения
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 5
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Поиск персонала
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 6
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Получение разрешений <br> и согласований <br> в госинстанциях
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 7
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Доставка и монтаж <br> приобретенного <br> оборудования и мебели
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 8
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Формирование первичных <br> запасов товара <br> и расходных материалов
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 9
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Обучение <br> персонала
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 10
                  span.font-s-16 /11
            .start-section__card-text.font-w-bold Официальное <br> открытие
          .start-section__card.font-w-cunia.swiper-slide
            .start-section__card-inner
              img.start-section__card-img(src="images/start-section-card-img.svg" loading="lazy" width="91" height="23" alt="card-img")
              .start-section__card-number
                .font-s-24 Шаг 11
                  span.font-s-16 /11
            .start-section__card-text.font-w-regular Помощь <br> в масштабировании
        .medium-pagination.swiper-progress-medium
      .start-section__bottom
        img.start-section__prizm(src="images/presentation-section-prizm.svg" loading="lazy" width="344" height="310" alt="prizma")
        img.start-section__blanks(src="images/presentation-section-blanks.png" loading="lazy" width="392" height="324" alt="blanks")
        .start-section__info
          .start-section__bottom-title.font-w-cunia.font-s-28.text-up
            | Работаем 
            span.mark4 строго <br>
            | по договору
          .start-section__desc в котором описаны наши обязанности <br> и все условия сотрудничества
        .start-section__form
          .font-w-bold.text-center Скачайте пример
          form(data-feedback-form)
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
            .start-section__input
              input.input.input--bg-brown(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
            button.btn.start-section__btn(type="submit") скачать пример <br> договора
