section.thanks-section
  .wrapper
    .thanks-section__header
      include ../components/header
    .thanks-section__container
      h1.thanks-section__title.font-s-50.font-w-cunia
        |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ ВАШЕЙ ЗАЯВКОЙ
      p.thanks-section__inner-text.font-s-24
        |Мы свяжемся с Вами в ближайшее время
      a.btn(href="index.html") Вернуться на главную
    footer.thanks-section__footer
      .footer__container.font-w-inter-regular
        .footer__block-inner
          img.footer__logo(src="images/logo.svg" loading="lazy" width="130" height="51" alt="logo")
          .thanks-section__text.font-s-16
            .mark6.font-w-bold ВоблаBeer
            .font-s-14 Франшиза сети <br> пивных магазинов
        .footer__connection.btn.btn--number-call
          img.footer__logo(src="images/phone-icon.svg" loading="lazy" width="18" height="18" alt="phone")
          a.header__call(href="tel:+70000000000") +7 999 999 99 99