.agree
  user-select: none;

  &__container
    position relative
    display: flex
    justify-content center
    align-items: flex-start
    gap: 10px
    text-align: center
    margin-top 5px
    +above($breakpoints.sm)
      text-align: start
      gap: 8px
    +above($breakpoints.md)
      margin 0
      gap: 10px
    +above($breakpoints.xxl)
      gap: 15px

  &__input
    width 0
    height 0
    opacity 0
    position absolute

  &__icon
    cursor pointer
    display: block;
    width 12px;
    flex-shrink: 0;
    height: 12px;
    border: 1px solid #fff
    border-radius: 2px
    position: absolute
    transition: border 0.3s
    top: 3px
    left: 40px

    &::after
      content: "";
      width calc(100% + 4px)
      height calc(100% + 4px)
      position: absolute
      top: -2px
      left: -2px
      background: url('../images/checkbox.svg')
      background-size: cover
      opacity 0
      transition: opacity 0.3s

    +above($breakpoints.sm)
      position relative
      top: unset
      left: unset
      width 13px
      height: 13px
    +above($breakpoints.md)
      width 14px
      height: 14px
    +above($breakpoints.xxl)
      width 15px
      height: 15px

  &__text
    display: grid

  &__privacy
    text-decoration: underline
    cursor pointer

  &__input.error + &__icon
    border-color $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  &__input.error + &__icon + &__text
    color: $color-error

  &__input:checked + &__icon
    border-color: transparent
    &::after
      opacity 1
