.city-section
  background-image: url("../images/city-section-bg.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  &__container
    padding: 20px 0 20px 0
    +above($breakpoints.md)
      padding 155px 0 136px 0

  &__title
    text-align: center
    padding-bottom 20px
    +above($breakpoints.md)
      text-align: start
      padding-bottom 45px

  &__text
    position relative
    margin 0 auto
    background-color #543B32
    width 100%
    max-width: 400px
    border-radius: 18px
    padding 12px 0 12px 30px
    +above($breakpoints.md)
      margin 0

  &__icon
    position: absolute
    width 100px
    height: auto
    top: -19px;
    right: -6px;
    +above($breakpoints.sm)
      width 140px
      height: 124px
      top: -27px;
      right: -62px;

  &__items
    padding-top 30px
    display: flex
    flex-direction: column
    gap: 20px
    align-items: center
    justify-content center
    +above($breakpoints.sm)
      flex-direction: row
    +above($breakpoints.md)
      justify-content start
      padding-top 75px
