.invest-section
  background-image: url("../images/invest-section-bg.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  border-top-left-radius: 45px
  border-top-right-radius: 45px

  &__container
    padding 20px 0 0 0
    +above($breakpoints.md)
      padding 113px 0 0 0

  &__inner
    display: flex
    flex-direction: column
    justify-content space-between
    align-items: center
    padding-bottom: 20px
    +above($breakpoints.sm)
      flex-direction: row
    +above($breakpoints.md)
      padding-bottom: 74px
      
  &__title
    text-align: center
    +above($breakpoints.sm)
      text-align: start

  &__icon
    width 100px
    height: auto
    +above($breakpoints.sm)
      width 144px
      height: 144px

  &__arrow
    margin: 20px auto
    +above($breakpoints.md)
      margin: 36px auto 52px auto;

  &__block
    padding 20px 0
    +above($breakpoints.lg)
      border-radius: 20px
      border-top: 2px solid  #543B32
      border-right: 2px solid  #543B32
      border-bottom: 2px solid  #543B32
      backdrop-filter: blur(55px);
      background: linear-gradient(90.00deg, rgba(84, 58, 47, 0.5),rgba(186, 129, 104, 0) 100%),rgba(0, 0, 0, 0.5)
      display: flex
      flex-direction: column
      justify-content center
    +above($breakpoints.xxl)
      width 100%
      max-width 1680px
      border-radius: 55px
      padding 63px 0 110px 0

  &__cards
    +above($breakpoints.lg)
      display: flex
      flex-direction: row
      justify-content center
      gap: 13px
      +above($breakpoints.xxl)
        gap: 40px

  &__card
    width 300px !important
    +above($breakpoints.xxl)
      width 348px !important

  &__img
    background-image: url("../images/invest-section-img1.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width 300px
    height: auto
    border-radius: 15px
    padding 30px 23px
    display: flex
    flex-direction: column
    justify-content flex-end
    gap: 10px
    &--img-bg2
      background-image: url("../images/invest-section-img2.jpg")
    &--img-bg3
      background-image: url("../images/invest-section-img3.jpg")
    +above($breakpoints.xxl)
      width 348px
      height: 253px

  &__form-block
    padding 26px 21px 24px 21px
    background-color #543B32
    border-radius: 15px

  &__form
    display: flex
    flex-direction: column
    gap: 10px
    padding-top 15px

  &__padding
    padding-bottom 107px