.swiper-small
  margin: 0 auto
  width 250px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-medium
  margin: 0 auto
  width 300px !important
  +above($breakpoints.sm)
    width 380px !important
  +above($breakpoints.md)
    width 100% !important

.swiper-large
  margin: 0 auto
  width 300px !important
  +above($breakpoints.lg)
    width 100% !important
    padding-bottom 20px

.swiper-desktop
  margin: 0 auto
  width 300px !important
  +above($breakpoints.sm)
    width 580px !important
  +above($breakpoints.md)
    width 100% !important
    overflow: hidden