.swiper-progress-small
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #F6CA52, #543B32)

.swiper-progress-medium
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.md)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #F6CA52, #543B32)

.swiper-progress-large
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.lg)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #F6CA52, #543B32)

.swiper-progress-desktop
  position relative !important
  height: 6px !important
  overflow: hidden
  background: #A8A8A8
  margin: 14px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.md)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(to right, #5873FF, #57B4F8)
.button-next,
.button-prev
  display: none
  +above($breakpoints.md)
    display: block
.button-next
  transform: rotate(180deg)
.swiper-button
  padding-top 20px
  margin: 0 auto
  width 124px
  display: flex
  flex-direction: row
  justify-content center
  align-items: center
  gap: 70px
